# Python cache
**/__pycache__/
*.pyc
*.pyo

# Hypothesis
**/.hypothesis/

# Testing
**/.pytest_cache/

# Environment
.env
venv/
.venv/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Build
build/
dist/
*.egg-info/